/* || GLOBAL PROPERTIES */

:root {
	--color-1: #301534;
	--color-2: #ad28eb;
	--color-3: #f8eeff;
	--color-4: #8b6990;
	--color-5: #ffffff;

	--ff-work-sans: "Work Sans", sans-serif;

	--fw-1: 400;
	--fw-2: 600;
	--fw-3: 700;

	--fs-1: 0.875rem;
	--fs-2: 1rem;
	--fs-3: 1.125rem;
	--fs-4: 2rem;
	--fs-5: 3.5rem;
}

/* || MAIN */

body {
	background-image: url(images/background-pattern-mobile.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: var(--color-3);
}

.card {
	max-width: 327px;
	margin: 142.5px auto;
	border-radius: 8px;
	background-color: var(--color-5);
}

.container {
	padding: 24px;
}

.star {
	display: inline-block;
	margin-inline-end: 8.51px;
}

.title {
	font-family: var(--ff-work-sans);
	font-size: var(--fs-4);
	color: var(--color-1);
	font-weight: var(--fw-3);
	line-height: 1.2;
}

.question-wraper {
	display: flex;
	align-items: center;
	column-gap: 24px;
	justify-content: space-between;
}

.question {
	font-family: var(--ff-work-sans);
	font-size: var(--fs-2);
	color: inherit;
	font-weight: var(--fw-2);
	line-height: 1.2;
	background: none;
	border: none;
	text-align: left;
	padding: 0;
}

.minus-plus {
	display: inline-block;
	width: 30px;
	height: auto;
}

.first-question {
	margin-top: 4px;
	margin-bottom: 4px;
}

article {
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--color-3);
}

.last-article {
	padding-bottom: 0;
	border-bottom: none;
}

.answer {
	padding-top: 20px;
	font-family: var(--ff-work-sans);
	font-size: var(--fs-1);
	color: var(--color-4);
	font-weight: var(--fw-1);
	line-height: 1.5;
	transition-duration: 0.3s;
	height: auto;
	max-height: 150px;
	overflow: hidden;
}

.question-wraper:hover {
	color: var(--color-2);
	cursor: pointer;
}

.invisible {
	overflow: hidden;
	max-height: 0;
	padding-top: 0px;
}

/* || MEDIA QUERIES */

@media only screen and (min-width: 768px) {
	body {
		background-image: url(images/background-pattern-desktop.svg);
	}

	.card {
		max-width: 600px;
		margin: 167.5px auto;
		border-radius: 16px;
	}

	.container {
		padding: 40px;
	}

	.star {
		margin-inline-end: 15.51px;
		width: 43px;
		height: 43px;
	}

	.title {
		font-size: var(--fs-5);
	}

	.question {
		font-size: var(--fs-3);
	}

	.first-question {
		margin-top: 8px;
		margin-bottom: 0px;
	}

	article {
		margin-top: 24px;
		padding-bottom: 24px;
	}

	.answer {
		padding-top: 24px;
		font-size: var(--fs-2);
	}

	.invisible {
		padding-top: 0px;
	}
}
